---
import { fetchDecoratorReact } from "@navikt/nav-dekoratoren-moduler/ssr";
import VarselForm from "../components/VarselForm.astro";
import ErrorPanel from "../components/ErrorPanel.astro";
import "../styles/index.css";
const { default: Varselbjelle } = await import(
  `../assets/Varselbjelle.svg?raw`
);

export interface Props {
  title: string;
}

const Decorator = await fetchDecoratorReact({
  env: "dev",
  params: {
    context: "privatperson",
    breadcrumbs: [
      { locale: "Min side", url: "/minside/" },
      { locale: "Min side", url: "/tms-varsel-test/" },
    ],
    availableLanguages: [
      {
        locale: "nb",
        url: "https://www.nav.no/minside/nb",
        handleInApp: true,
      },
      {
        locale: "en",
        url: "https://www.nav.no/minside/en",
        handleInApp: true,
      },
      {
        locale: "nn",
        url: "https://www.nav.no/minside/nn",
        handleInApp: true,
      },
    ],
  },
});
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>{"Test av varsler"}</title>
    <link
      rel="preload"
      href="https://cdn.nav.no/aksel/@navikt/ds-css/5.7.3/index.min.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://cdn.nav.no/aksel/@navikt/ds-css/5.7.3/index.min.css"
    />
    <Decorator.Styles />
  </head>
  <body>
    <Decorator.Header />
    <div class="main-container">
      <div>
        <h1>Test av varsler</h1>
        <Fragment set:html={Varselbjelle} />
        
      </div>
      <ErrorPanel />
      <VarselForm title="Utkast" />
      <VarselForm title="Oppgave" />
      <VarselForm title="Utkast" />
    </div>
    <Decorator.Footer />
    <Decorator.Scripts />
    ../script.ts
  </body>
</html>
